<h2>Todo List</h2>
<p>Add an item</p>
 
<%- include ('./partials/form_todo') %> 
<%- include ('./partials/error') %> 

<% if (todoList.length > 0) { todoList.forEach((todo) => { %>
  <div class="border-bottom p-2 d-flex align-item-center">
    <p style="display: inline-block; flex-basis: 90%; font-size: 20px">
      <%= todo.content %>
    </p> 
    <a href="/<%=todo._id%>"class="btn btn-success mx-1">
      <i class="fas fa-edit" ></i>
    </a>
    <%-include('./partials/form_delete', {id: todo._id}) %>
  </div>
<% }) } else { %>
  <p class="text-center">Không có todo để hiển thị</p>
<% } %>





